/* Styling for Nav bar. Bg color, link color etc */

.blog-header {
  position: relative;
  padding: 18px 0;
  background-color:#222;
}

.navbar .nav > li > a { color: #FF0F00; }
.navbar .divider-vertical { border-right: 1px solid #4D4D4D; }
.navbar { margin-bottom: 4em; background-color: rgba(0,0,0,0)} 

.nav-pills a {
    color: #FFF;
}

.nav-pills >li > a:hover {
    color: #FFF;
    text-decoration: underline;
    background-color: #222;
}

a.brand:hover {
    text-decoration: underline;
    color: #FFF;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    color: #FFF;
    text-decoration: underline;
}


#blog-nav{
    padding: 5px 0;
    font-size:18px;
    margin-top: 10px;
}

ul#sitelinks.nav.nav-list > li > a >i {
    color: #1f334b;}
/* Styling for elements */
/* a {color: #0A5693} */
a {color: #9C0000}
a:hover {color: #9C0000; text-decoration: underline}
body {font-family: "Source Serif Pro"; font-size: 19px; line-height: 1.4em; padding: 0px;}
p { font-family: "Source Serif Pro"; font-size: 19px; line-height: 1.4em; margin-top: 0.8em; margin-bottom: 0.8em; text-align: justify; box-sizing:border-box;   width: 100% }
li { line-height: 1.6em; }
h3 { font-family: 'Alegreya SC', 'Garamond', 'Georgia'; font-weight: normal}
h2 { font-family: 'Alegreya SC', 'Garamond', 'Georgia' ; font-weight: normal; font-size: 28px}
h1 { font-family: 'Alegreya SC', 'Garamond', 'Georgia' ; font-weight: normal; font-size: 34px}
h1,h2,h3,h4,h5,h6 { color: #000001; margin-bottom: 0.8em; margin-top: 0.8em}
h4 {
    font-size: 19px;
    font-weight: bold;
}
.table th, .table td { line-height: 1.3em; }

.brand {
    font-family: 'Alegreya SC', 'Garamond', 'Georgia';
    font-weight: normal;
    font-size: 42px;
    line-height:40px;
    display: block;
    color:#FFF;
}

.tagline {
    font-family: 'Alegreya', 'Garamond', 'Georgia';
    font-weight: normal;
    font-size: 20px;
    line-height:18px;
    margin-top: 10px;
    display: block;
    color:#FFF;
    font-variant: normal;
}

/* Styling for articles */
.article { padding-bottom:15px }
.content-title { margin-bottom: 30px; }
.article-title {
    margin-top: 40px;
    margin-bottom: 12px;
}
.article-info p {
    color: #999 ;
    margin-top: 0;
    margin-bottom: 10px;
    font-variant: small-caps;
}
.article-content { margin-bottom: 5px; }
.article-comment-btn {margin-top: 10px; }
.post-sep {margin-bottom: 0px; }

/* Styling for posts */
.page-title { margin-top: 15px; margin-bottom: 10px;}
.page-info p {
    color: #999 ;
    margin-top: 0;
    margin-bottom: 10px;
    font-variant: small-caps;
}
.page-content { margin-bottom: 5px; }

/* Styling for the "other entries" section */
/* Metadata */
.well.small { padding: 6px 6px 4px; }

/* Read more button */
.btn-info.xsmall {
    padding: 1px 3px 1px;
    font-size: 11px;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Article summary */
.summary { margin-bottom: 2em; margin-top: 0.8em; font-size: 18px; line-height: 1.2em }
.summary pre { display: none; }

#blog-footer{ display: table; width: 100%}

@media(max-width: 768px){
#socialist { display: table-footer-group;}
#colophon { display: table-header-group;}
#sitelinks { display: table-footer-group;}
}

.archive-title {
    height: 80px;
    line-height: 80px;
    margin-top: 24px;
    padding-top: 5px;
    background-color: #FFF;
    border-width: 1px;
    border-style: solid none;
    border-color: #AAA;
}
.archive-title h1 {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 40px;
}

blockquote {
    padding: 0 0 0 24px;
    margin: 0 0 24px;
    border-left: 5px solid #cccccc;
}

blockquote p {
    color: #333;
}

.quote-attrib {
    font-size: 24px;
    line-height: 30px;
}

.quote-attrib::before {
    content: " — ";
    font-size: 24px;
}

img {
    display: block;
    max-width: 90%;
    max-height: 500px;
    margin: 0 auto;
}

div.container {
    padding-left: 0;
    padding-right: 0;
}

#disqus_title_header {
    margin-bottom: 1ex;
}
a#title{
    font-size: 42px;
    font-family: 'Alegreya SC', 'Garamond', 'Georgia';
    font-weight: normal;
    color: #000001;
}
