<!-- Single article page with comments -->
{% extends "base.html" %}

<!-- Modify page title (on tab etc.) -->
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{%endblock%}

{% block content %}
<!-- Main article content (as on homepage) -->
<div class="container">
    {% include "article-content.html" %}
</div>

<! -- Comments -->
{% if DISQUS_SITENAME %}
<div class="container">
    <div class="article-comments col-sm-10">
        <h3 id="disqus_title_header">Comments</h3>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ DISQUS_SITENAME }}';
            var disqus_title = '{{ article.title }}';

(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
{% endif %}

{% endblock %}
