{% extends "base.html" %}

<!-- Not sure what this is yet -->
{% block content_title %}{% endblock %}

<!-- Content (insert into base template) -->
{% block content %}

<!-- Show articles in date order -->
{% if articles %}
{% for article in articles_page.object_list %}
<div class="container">
    {% include "article-content.html" %}
</div>
{% if DISQUS_SITENAME %}
<div class="container">
    <div class="row-fluid">
        <div class="article-comment-btn col-sm-10 col-sm-offset-1">
            <a class="btn btn-mini xsmall" href="{{ SITEURL }}/{{ article.url }}">
                <i class="icon-comment"></i> Comment </a>
        </div>
    </div>
</div>
{% endif %}
<hr class="post-sep"/>

{% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
{% include 'pagination.html' %}
{% endif %}

{% endfor %} {# For article #}
{% endif %} {# If articles #}

{% endblock content %}
