<!-- Specialised pages (about, contact, etc.) -->
{% extends "base.html" %}

<!-- Modify page title (on tab etc.) -->
{% block title %}{{page.title}} - {{ SITENAME }}{%endblock%}

<!-- Content -->
{% block content %}

<!-- Title -->
<div class="row-fluid">
    <div class="page-title col-sm-10 offset-sm-1">
        <a href="{{ SITEURL }}/{{ page.url }}"><h1>{{ page.title }}</h1></a>
    </div>
</div>

<!-- Post content -->
<div class="row-fluid">
    <div class="page-content col-sm-10 offset-sm-1">
        {{page.content}}
    </div>
</div>

<!-- Tags and categories -->
<div class="row-fluid">
    <div class="page-info col-sm-10 offset-sm-1">
        <p>Last updated on {{page.locale_date}} by {{page.author}}</p>
    </div>
</div>

{% endblock %}
